
body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    color: #353535;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #284b63;
    border-width: 5px;
    width: 5%;
   
}
